[Unit]
Description=Initialize Kubernetes Cluster
After=kubelet.service
Before=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/init-k8s.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target